---
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro"

interface Props {
  title: string;
  description: string;
  schema?: string;
}

const { title, schema, description } = Astro.props;

// get the full url
const url = new URL(Astro.url);
// console.log('url is: ', url)

// get after the base url
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/visualize_logo.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@VisualizeCareer" />
    <meta property="og:url" content={url.href} />
    <link rel="canonical" href={url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://www.visualize.careers/visualize-og-image.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="660" />

    {schema && (
      <script type="application/ld+json" set:html={schema}>
      </script>
    )}

  </head>
  <body class="grid bg-blue-900 text-white grid-cols-12">
    <div class="relative col-span-3 xl:col-span-2">
      <div
        class="sticky top-0 left-0 w-full h-screen py-8 pl-8 border-r border-blue-800"
      >
        <div class="max-w-64 w-full float-right h-full">
          <div class="flex flex-col h-full justify-between">
            <Header />
            <Footer />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-9 xl:col-span-10 p-8">
      <slot />
    </div>
  </body>
</html>
