---
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro"

interface Props {
  title: string;
  description: string;
  schema?: string;
}

const { title, schema, description } = Astro.props;

// get the full url
const url = new URL(Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:url" content={url.href} />
    <link rel="canonical" href={url.href} />
    <link href="https://bringyour.com/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    {schema && (
      <script type="application/ld+json" set:html={schema}>
      </script>
    )}

  </head>
  <body class="grid bg-blue-900 text-white grid-cols-1 sm:grid-cols-12">
    <div class="relative col-span-1 sm:col-span-4 md:col-span-3 xl:col-span-2">
      <div
        class="sticky top-0 left-0 w-full sm:h-screen py-4 sm:py-8 pl-8 sm:border-r border-blue-800 border-b sm:border-b-0"
      >
        <div class="max-w-64 w-full sm:float-right h-full">
          <div class="flex flex-col h-full justify-between">
            <Header />
            <div class="hidden sm:block">
              <Footer />
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 sm:col-span-8 md: col-span-9 xl:col-span-10 p-8">
      <slot />
    </div>

    <div class="sm:hidden px-8 mb-8">
      <Footer />
    </div>

  </body>

</html>
